# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
.venv/

# Env files
.env
.env.local

# Docker
*.pid
*.log
docker-data/
postgres-data/

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# blueprints folder
blueprints & RoadMaps/